<h1>SIGN UP</h1>
<div class="col-md-8 col-md-offset-2" id="page">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">Nome:</label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        formControlName="firstNameTS"
      />
    </div>

    @if(myForm.get('firstNameTS')?.errors?.['required'] &&
    myForm.get('firstNameTS')?.touched) {
    <div><p style="color: red">Nome obrigatório.</p></div>
    }

    <div class="form-group">
      <label for="lastName">Sobrenome:</label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        formControlName="lastNameTS"
      />
    </div>

    @if (myForm.get('lastNameTS')?.errors?.['required'] &&
    myForm.get('lastNameTS')?.touched) {
    <div><p style="color: red">SobreNome obrigatório.</p></div>
    } @if (myForm.get('lastNameTS')?.errors?.['minlength'] &&
    myForm.get('lastNameTS')?.touched) {
    <div>
      <p style="color: red">SobreNome deve ter no mínimo 4 caracteres.</p>
    </div>
    } @if (myForm.get('lastNameTS')?.errors?.['maxlength'] &&
    myForm.get('lastNameTS')?.touched) {
    <div>
      <p style="color: red">SobreNome deve ter no máximo 16 caracteres.</p>
    </div>
    }

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="emailTS"
      />
    </div>

    @if (myForm.get('emailTS')?.errors?.['required'] &&
    myForm.get('emailTS')?.touched) {
    <div><p style="color: red">e-mail obrigatório.</p></div>
    } @if (myForm.get('emailTS')?.errors?.['pattern'] &&
    myForm.get('emailTS')?.touched) {
    <div><p style="color: red">e-mail inválido.</p></div>
    }

    <div class="form-group">
      <label for="pass">Senha:</label>
      <input
        type="password"
        id="pass"
        class="form-control"
        formControlName="passwordTS"
      />
    </div>

    @if (myForm.get('passwordTS')?.errors?.['required'] &&
    myForm.get('passwordTS')?.touched) {
    <div><p style="color: red">Senha obrigatória.</p></div>
    }

    <div>
      <form>
        <label>
          <input type="radio" name="sexo" [(ngModel)]="sexoSelecionado" value="Masculino">
          Masculino
        </label>
        <br>
      
        <label>
          <input type="radio" name="sexo" [(ngModel)]="sexoSelecionado" value="Feminino">
          Feminino
        </label>
        <br>
      
        <label>
          <input type="radio" name="sexo" [(ngModel)]="sexoSelecionado" value="Prefiro não dizer">
          Prefiro não dizer
        </label>
      </form>
    </div>
    

    <label for="nacionalidade">Nacionalidade:</label>
    <select id="nacionalidade" [(ngModel)]="nacionalidadeSelecionada" name="nacionalidade">
      <option value="" disabled selected>Selecione sua nacionalidade</option>
      <option *ngFor="let pais of nacionalidades" [value]="pais">{{ pais }}</option>
    </select>

    <label>
      <input type="checkbox" [(ngModel)]="aceitouTermos" name="aceitouTermos">
      Aceito os termos de uso
    </label>

    <br />
    <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">
      Cadastrar
    </button>
  </form>

  <div class="upload-container">
    <label for="fileInput" class="upload-label">
    Escolha sua imagem de perfil
    </label>
    <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>

    <div *ngIf="previewUrl" class="preview-container">
      <img [src]="previewUrl" alt="Preview da Imagem" class="preview-image">
      <p style="color: green;"> Imagem Escolhida!</p>
    </div>
  </div>
</div>
